body { 
    font-family: 'Courier New', Courier, monospace; 
    font-weight: bold; 
    margin: 0; 
    padding: 0; 
    background-color: rgb(154, 85, 233); 
    } 
    .container { 
     
    text-align: center; 
    width: 20%; 
    height: 40%; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: rgb(240, 154, 217); 
    box-shadow: 0 10px rgba(0, 0, 0, 0.1); 
    border: 1px solid rgb(240, 154, 217); 
    border-radius: 70px; 
    } 
    h1 { 
    color: black; 
    font-weight: bold; 
    } 
    button { 
    background-color: rgb(225, 201, 247); 
    display: grid; 
    padding: auto; 
    width: 20%; 
    margin: auto; 
    color: black; 
    border: none;
    padding: 1%; 
    } 
    button:hover{ 
    background-color: rgb(164, 83, 240); 
    } 
    .login-GIF { 
    width: 100px; 
    height: 100px; 
    margin: 0% auto 20px; 
    display: block; 
    } 